<div class="text-xl flex items-center justify-center">
    <div class="lds-ring">
        <div [ngStyle]="dark_mode ? {'border-color': '#fff transparent transparent transparent'} : {'border-color': '#000 transparent transparent transparent'}"></div>
        <div [ngStyle]="dark_mode ? {'border-color': '#fff transparent transparent transparent'} : {'border-color': '#000 transparent transparent transparent'}"></div>
        <div [ngStyle]="dark_mode ? {'border-color': '#fff transparent transparent transparent'} : {'border-color': '#000 transparent transparent transparent'}"></div>
        <div [ngStyle]="dark_mode ? {'border-color': '#fff transparent transparent transparent'} : {'border-color': '#000 transparent transparent transparent'}"></div>
    </div>
</div>