<div class="flex flex-col pt-4" *ngIf="articlesIndexes">
    <div class="flex flex-col-reverse md:flex-row gap-4 pb-6" *ngIf="articles[articlesIndexes[0]]">
        <div class="w-full md:w-1/2 flex flex-col gap-2">
            <a [routerLink]="['', 'article', articles[articlesIndexes[0]].id]">
                <h1 class="text-3xl lg:text-4xl font-semibold hover:underline cursor-pointer">
                    {{articles[articlesIndexes[0]].title}}</h1>
            </a>
            <p class="font-roboto font-light">{{articles[articlesIndexes[0]].excerpt}}</p>
            <div class="flex items-center gap-2 font-roboto font-light">
                <a>
                    <div>
                        <img class="w-8 h-8 rounded-full" [src]="articles[articlesIndexes[0]].creator?.profile_image">
                    </div>
                </a>
                <a [routerLink]="['', 'user', articles[articlesIndexes[0]].creator?.username]">
                    <p class="hover:underline hover:text-sky-500 duration-100 cursor-pointer">
                        {{articles[articlesIndexes[0]].creator?.username}}
                    </p>
                </a>
                <p>•</p>
                <p class="text-sm">{{articles[articlesIndexes[0]].created_at | dateAgo}}</p>
            </div>
        </div>
        <div class="w-full md:w-1/2">
            <a [routerLink]="['', 'article', articles[articlesIndexes[0]].id]">
                <img class="w-full h-80 object-cover" [src]="articles[articlesIndexes[0]].image" />
            </a>
        </div>
    </div>
    <div class="border-t md:pb-4"></div>
    <div class="flex flex-col md:flex-row w-full border-b border-black md:pb-4">
        <tr *ngFor="let article of articlesIndexes.slice(1, 5); let i = index" class="w-full">
            <div class="flex flex-col items-start justify-start w-full h-full py-2 md:px-2"
                [ngClass]="i < 3 ? 'border-b md:border-r md:border-b-0' : ''" *ngIf="articles[article]">
                <a [routerLink]="['','category', articles[article].categories[0].name]"
                    *ngIf="articles[article].categories.length > 0">
                    <h1 class="text-sm hover:underline cursor-pointer font-bold">
                        {{articles[article].categories[0].name.toUpperCase()}}</h1>
                </a>
                <a [routerLink]="['','article', articles[article].id]">
                    <h1 class="text-xl font-bold hover:underline cursor-pointer">{{articles[article].title}}</h1>
                </a>
                <p class="font-roboto text-sm text-neutral-500 font-light">By <a
                        [routerLink]="['', 'user', articles[article].creator?.username]"><span
                            class="hover:underline hover:text-sky-500 cursor-pointer">{{articles[article].creator?.username}}</span></a>
                </p>
            </div>
        </tr>
    </div>
</div>